<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DomainURL</key>
	<string>your_base_url</string>
	<key>ClientId</key>
	<string>your_client_id</string>
	<key>RedirectURL</key>
	<string>your_redirect_url</string>
</dict>
</plist>
