<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DomainURL</key>
	<string>https://kube-nightlybuild-dev.cidaas.de</string>
	<key>ClientId</key>
	<string>16a5aabb-8f18-4896-ba10-208e96e368e7</string>
	<key>RedirectURL</key>
	<string>com.cidaas.sdk://user-profile/editprofile</string>
	<key>CidaasVersion</key>
	<string>3</string>
</dict>
</plist>
